/** CSS Reset 
 ** Grace Snow's combination of resets by Andy Bell and Josh Comeau
 ** See https://andy-bell.co.uk/a-modern-css-reset/
 ** and https://www.joshwcomeau.com/css/custom-css-reset/
 ** for more a deeper understanding.
 */
/* 1. use :where() to lower specificity */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Height 100% on both html AND body can be buggy */
html {
  height: 100%;
}

/* Make sure body stretches to the full viewport height */
body {
  min-height: 100vh;
  min-height: 100dvh;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/** 1 */
:where(ul[role=list]),
:where(ol[role=list]) {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/** 1 */
:where(a:not([class])) {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Consistant image sizing */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Make non-inheriting elements inherit font styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Needs review! I don't like this in a general reset */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* isolate stacking context in React/Next */
#root,
#__next {
  isolation: isolate;
  min-height: inherit;
}

body {
  font-size: 1.125rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url("../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 34vh;
}

@media screen and (min-width: 71rem) {
  body {
    background-image: url("../images/bg-main-mobile.png");
    background-size: 34vw 100%;
  }
}
/* Utilities */
.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}

/* Main */
.main-container {
  display: grid;
  grid-template-columns: 3rem max-content 3rem;
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas: ". card-back card-back" ". card-back card-back" "card-front card-front ." "card-front card-front ." "card-front card-front ." "form-container form-container form-container" "form-container form-container form-container" "form-container form-container form-container" "form-container form-container form-container";
  place-content: center;
  align-items: center;
}

@media screen and (min-width: 71rem) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: max-content 1.5rem max-content;
    min-height: 100vh;
    grid-template-areas: "card-front card-front card-front card-front . . form-container form-container form-container form-container" ". . . . . . form-container form-container form-container form-container" ". card-back card-back card-back card-back . form-container form-container form-container form-container";
    place-content: center;
    align-items: center;
  }
}
.card-front {
  background-image: url("../images/bg-card-front.png");
  background-size: cover;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1rem;
  aspect-ratio: 3.65/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  grid-area: card-front;
  z-index: 1;
  border-radius: 0.75rem;
  box-shadow: 0.3rem 0.3rem 0.5rem hsla(278, 68%, 11%, 0.1);
}

@media screen and (min-width: 71rem) {
  .card-front {
    min-width: 28rem;
    padding: 1.75rem 2rem;
  }
}
.card-logo {
  max-width: 3rem;
}

@media screen and (min-width: 71rem) {
  .card-logo {
    max-width: 5rem;
  }
}
.card-inner-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-number {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 71rem) {
  .card-number {
    font-size: 2rem;
  }
}
.card-bottom {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.card-holder {
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 71rem) {
  .card-holder {
    font-size: 0.9rem;
  }
}
.exp-date,
.cvc {
  font-size: 0.6rem;
}

@media screen and (min-width: 71rem) {
  .exp-date,
  .cvc {
    font-size: 0.9rem;
  }
}
.card-back {
  background-image: url("../images/bg-card-back.png");
  background-size: cover;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1rem;
  aspect-ratio: 3.65/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.5rem;
  grid-column: 2/4;
  grid-row: 1/4;
  border-radius: 0.75rem;
  box-shadow: 0.2rem 0.2rem 0.5rem hsla(278, 68%, 11%, 0.1);
}

@media screen and (min-width: 71rem) {
  .card-back {
    grid-area: card-back;
    padding: 4rem;
  }
}
.form-container {
  grid-area: form-container;
  max-width: 22rem;
}

/* Form State */
.form-state {
  color: hsl(278, 68%, 11%);
}

.form-state.hide {
  display: none;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  border: 0.1rem solid hsl(270, 3%, 87%);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.input::-moz-placeholder {
  color: hsl(270, 3%, 87%);
}

.input::placeholder {
  color: hsl(270, 3%, 87%);
}

.input.input-error {
  border: 2px solid hsl(0, 100%, 66%);
}

.input.input-success {
  border: 2px solid green;
}

.error-msg {
  display: none;
  font-size: 0.75rem;
  color: hsl(0, 100%, 66%);
}

.error-msg.visible {
  display: inline;
}

.form-bottom {
  display: grid;
  grid-template-areas: "expdate-fieldset expdate-fieldset cvc-label cvc-label" "expdate-fieldset expdate-fieldset cvc cvc" "month-error year-error cvc-error cvc-error";
}

.expdate-container {
  grid-area: expdate-fieldset;
  display: grid;
  grid-template-areas: "label label" "month year";
  gap: 0;
  padding: 0;
}

.expdate-legend {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  grid-area: label;
  margin-bottom: 0.5rem;
}

.cvc-label {
  grid-area: cvc-label;
}

.expdate-month-input {
  width: 4rem;
  grid-area: month;
}

@media screen and (min-width: 71rem) {
  .expdate-month-input {
    width: 4.5rem;
    margin-right: 0.5rem;
  }
}
.expdate-year-input {
  width: 4rem;
  grid-area: year;
}

@media screen and (min-width: 71rem) {
  .expdate-year-input {
    width: 4.5rem;
    margin-right: 0.5rem;
  }
}
.cvc-input {
  grid-area: cvc;
  width: 10rem;
}

@media screen and (min-width: 71rem) {
  .cvc-input {
    width: 11.5rem;
  }
}
.month-error {
  grid-area: month-error;
}

.year-error {
  grid-area: year-error;
}

.cvc-error {
  grid-area: cvc-error;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  padding-block: 0.7rem;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}

/* Completed State */
.completed-state {
  display: none;
}

.completed-state.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  grid-area: form-container;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.completed-title {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  letter-spacing: 0.1rem;
}

.text {
  color: hsl(279, 6%, 55%);
}

.completed-state .btn {
  width: 20rem;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution-link {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */